<!DOCTYPE html>
<html lang="en">
  {% include 'AppBundle:default:head.html.twig' %}
<body>
  <div id="wrapper">
    {% include 'AppBundle:default:header.html.twig' %}
    <div style="margin:0px auto; margin-top:-45px;background-color:white">
    <div class="row">
      <div class="col-sm-12">
                      <div class="prods_index_3">
                        <div class="prods_title colort"><p>CATÁLOGO DE PRODUCTOS</p></div>
                        {% for producto in productos %}
                        <div id="divprods"><img src="{{ asset("imagenes/productos/") ~ producto.imagen }}" style=" width:45%;height:175px;margin-left:27.5%;margin-top:5%;margin-bottom:2%;" />
                              <div style="height:15%;width:100%;margin-bottom:2px;">
                                  <h5 style="color:#086A87;font-weight:bold;text-align:center">{{producto.marca}} {{producto.modelo}}</h5>
                              </div>
                              <div style="height:15%;width:100%;margin-bottom:2px;">
                                <center>
                                  <a style="text-decoration:none;color:white" href="/detallesProducto/{{producto.codProd}}'" class="btn btn-success">
                                  <span style="color:white" class="glyphicon glyphicon-shopping-cart white" >
                                 </span> {{producto.precioUni}} €</a>
                                </center>
                            </div>
                        </div>
                            <!--<li><a href="/pagina2/{{ producto.modelo}}/1000">{{ producto.modelo }}</a></li>-->
                        {% endfor %}

                      </div>
              </div>
    </div>
    {% include 'AppBundle:default:footer.html.twig' %}
  <div>
</body>
</html>
